@media (max-width: 855px){
	.MainPanel{
		max-width: 80vw !important;
	}

}
.MainPanel{	
	position: relative;
	top: 100px;
	width:fit-content;
	margin-inline: auto;
	background-color:var(--secondary-bg-col);
	padding: 15px;
	max-width: 60vw;	
	border: 5px solid var(--accent-col);
	border-radius: 20px;
	-moz-box-shadow: 0 0 10px var(--accent-col);
	-webkit-box-shadow: 0 0 10px var(--accent-col);
	box-shadow: 0 0 10px var(--accent-col);
}

.RoundedButton{	
	background-color: var(--primary-component-col);
	color: var(--secondary-component-col);	
	text-decoration:none;

	justify-content: center;
	align-items: center;

	border: 5px solid var(--accent-col);
	border-radius: 25px;
	
	width:fit-content;

	max-height: fit-content;
	
	padding: 10px 15px;

	display: flex;
	flex-direction: row;
	gap: 10px;
}
.RoundedButton:hover {
	background-color: #363639;
	border-color: #3a3a41;
}
a {
	text-decoration: none;
	color:#7289da;

}
