.page{
	z-index:1;

}
body {
	color:#e4e4e6;
	background-color:#000000;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.RoundedButton{	
	background-color: var(--primary-component-col);
	color: var(--secondary-component-col);	
	text-decoration:none;

	justify-content: center;
	align-items: center;

	border: 5px solid var(--accent-col);
	border-radius: 25px;
	
	width:fit-content;

	max-height: fit-content;
	
	padding: 10px 15px;

	display: flex;
	flex-direction: row;
	gap: 10px;
}
.RoundedButton:hover {
	background-color: #363639;
	border-color: #3a3a41;
}
