:root{
	--primary-bg-col: #000000;
	--secondary-bg-col: #0c0c0e;
	--accent-col: #222226;
	--accent-col-alt:#ccccce;
	--primary-component-col: #1d1d1f;
	--secondary-component-col: #e4e4e6;

}

@media (max-width:700px){
	.MenuBar{
		font-size:12px;
		font-weight: bold;
	}
}
@media (max-width:855px){
	.SocialsBar{
		bottom: 5px;
		right: 10px;
		max-width: 130px !important;
		max-height: 30px !important;
	}
	.SocialsBar img{
		height: 1em !important;
		width: 1em !important;
	}
}
@media (min-width:855px){
	.MainPanel{
		max-width: 80vw !important;
	}
	.SocialsBar{
		top: 8px;
		left: 8px;
	}
}

.SocialsBar{
	text-align: center;
	z-index: 99;
	position: fixed;
	width: fit-content;
	max-width: calc(100vw - 8px * 2);
	margin-inline: auto;
	display: flex;
	background-color: var(--secondary-bg-col);
	justify-content: center;
	padding: 10px;
	border: 5px;
	border-radius: 20px;
	height: 50px;
	gap: 10px;
	-moz-box-shadow: 0 0 10px var(--accent-col);
	-webkit-box-shadow: 0 0 10px var(--accent-col);
	box-shadow: 0 0 10px var(--accent-col);
}
.SvgInvert {
	-webkit-filter: invert(100%);
	filter: invert(100%);


}
.MenuBar{
	text-align: center;
	z-index: 99;
	position: fixed;
	top: 8px;
	left:0px;
	right:0px;
	width: fit-content;
	max-width: calc(100vw - 8px * 2);
	margin-inline: auto;
	display: flex;
	background-color: var(--secondary-bg-col);
	justify-content: center;
	padding: 10px;
	border: 5px;
	border-radius: 20px;
	height: 50px;
	gap: 10px;
	-moz-box-shadow: 0 0 10px var(--accent-col);
	-webkit-box-shadow: 0 0 10px var(--accent-col);
	box-shadow: 0 0 10px var(--accent-col);
}

.ButtonMenu{
	display: flex;
	gap: 10px;
}

.MainPanel{	
	position: relative;
	top: 100px;
	width:fit-content;
	margin-inline: auto;
	background-color:var(--secondary-bg-col);
	padding: 15px;
	-moz-box-shadow: 0 0 5px var(--accent-col);
	-webkit-box-shadow: 0 0 5px var(--accent-col);
	box-shadow: 0 0 5px var(--accent-col);
	border: 5px solid var(--accent-col);
	border-radius: 20px;
}

.RoundedButton{	
	background-color: var(--primary-component-col);
	color: var(--secondary-component-col);	
	text-decoration:none;
	justify-content: center;
	align-items: center;
	border: 5px solid var(--accent-col);
	border-radius: 25px;
	width:fit-content;
	max-height: fit-content;
	padding: 10px 15px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.RoundedButton:hover {
	background-color: #363639;
	border-color: #3a3a41;
}


.RoundedButton img{
	height: 2em;
	width: 2em;
}

.LightButton{
	composes: RoundedButton;
	background-color: var(--secondary-component-col);
	color: var(--primary-component-col);
	border-color: var(--accent-col-alt)
}
.LightButton:hover{
	background-color: #afafb5;
	border-color:#98989c;
}
.HomeIcon{
	height: 1.3em !important;
	width: 1.3em !important;
}
